/* Variables */
:root {
  --brand: rgb(52, 52, 151);
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Poppins";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--brand);
  color: var(--brand);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom classes */
.custom-btn-outline-brand {
  border-color: var(--brand);
  border: 1px solid;
  border-radius: 10px;
  background-color: white;
  color: var(--brand);
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-btn-outline-brand:hover {
  background-color: var(--brand);
  color: white;
  transform: scale(1.08);
  transition: ease 100ms;
}

.custom-btn-outline-brand-invert {
  border-color: white;
  border: 1px solid;
  border-radius: 10px;
  background-color: var(--brand);
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.custom-btn-outline-brand-invert:hover {
  background-color: white;
  color: var(--brand);
  transform: scale(1.08);
  transition: ease 100ms;
}
